eurostat==1.1.1
seaborn==0.13.2
matplotlib==3.10.8
scikit-learn==1.7.2
pandas==2.3.3
numpy==1.26.4
scipy==1.11.4
joblib==1.5.3
threadpoolctl==3.6.0
statsmodels==0.14.1
plotly>=5.13.0
nbformat>=5.7.0
python-dotenv==1.2.2
dbrepo==1.13.5